#addJobForm {
  width: 100%;
}

.add-job-button {
    margin-bottom: 10px;
}

.description-input {
    height: 100px;
}

@media screen and (min-width: 600px) {
  #addJobForm {
    width: 500px;
    margin: 0 auto;
  }
}

.form-label {
  width: 150px;
  margin-right: 1rem;
}
