.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 20px 0;
}

.addJob-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bold-number {
  font-weight: bold;
}

.top-txt-img {
  display: flex;
  align-items: center;
  max-width: 500px;
  gap: 10px;
}

.top-txt-img__image {
  max-width: 150px;
}
